@model ExamAsp.Models.UserModel
<link href="~/Content/style.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}


<div class="btn_create">
    @Html.ActionLink("Создать", "Edit", "User")
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Login</th>
            <th scope="col">E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in ViewBag.Users)
            {
            <tr>
                <th scope="row">@item.Login</th>
                <th scope="row">@item.Email</th>
                <td scope="row">@Html.ActionLink("Редактировать", "Edit", "User", new { id = @item.Id }, null)</td>
                <td scope="row">@Html.ActionLink("Удалить", "Delete", "User", new { id = @item.Id }, null)</td>
            </tr>

        }
    </table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
