@model ExamAsp.Models.UserModel
<link href="~/Content/style.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}


<div class="btn_create">
    @Html.ActionLink("Создать", "Edit", "User")
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Login</th>
            <th scope="col">E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in ViewBag.Users)
            {
            <tr>
                <th scope="row">@item.Login</th>
                <th scope="row">@item.Email</th>
                <td scope="row">@Html.ActionLink("Редактировать", "Edit", "User", new { id = @item.Id }, null)</td>
                <td scope="row">@Html.ActionLink("Удалить", "Delete", "User", new { id = @item.Id }, null)</td>
            </tr>

        }
    </table>

<div class="cont">
    <div class="gallery">
        <figure class="gallery__item gallery__item--1">
            <img src="content/img/image-1.jpg" alt="Gallery image 1" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--2">
            <img src="content/img/image-2.jpg" alt="Gallery image 2" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--3">
            <img src="content/img/image-3.jpg" alt="Gallery image 3" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--4">
            <img src="content/img/image-4.jpg" alt="Gallery image 4" class="gallery__img">
        </figure>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
