@model ExamAsp.Models.BookModel

<link href="~/Content/style.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";

    List<ExamAsp.Models.AuthorModel> authors = ViewBag.Authors;
    List<ExamAsp.Models.GenreModel> genres = ViewBag.Genres;

}

<div class="btn_create">
    @Html.ActionLink("Создать", "Edit", "Book")
</div>

<div class="block2">
            @foreach (var item in ViewBag.Books)
            {
                string author = authors.Where(a => a.Id == item.AuthorId).First().FirstName + " " + authors.Where(a => a.Id == item.AuthorId).First().LastName;
                string genre = genres.Where(g => g.Id == item.GenreId).First().Name;
                <table>
                    <tbody>
                        <tr>
                            <td height="40px" colspan="2" valign="bottom"> <h2>@item.Title</h2></td>
                        </tr>
                        <tr>
                            <td>@item.ImageData</td>
                            <td class="items" valign="top">
                                <p>
                                    <b>Автор: @author </b>
                                </p>
                                <p>
                                    <b>Жанр: @genre </b>
                                </p>
                                <p>
                                    <b>Страниц: @item.Pages </b>
                                </p>
                                @Html.ActionLink("Редактировать", "Edit", "Book", new { id = @item.Id }, new { @class = "btn" })
                                @Html.ActionLink("Удалить", "Delete", "Book", new { id = @item.Id }, new {@class = "btn"})
                            </td>
                        </tr>
                    </tbody>
                </table> 
            }
</div>







            @*string author = authors.Where(a => a.Id == item.AuthorId).First().FirstName + " " + authors.Where(a => a.Id == item.AuthorId).First().LastName;
                                string genre = genres.Where(g => g.Id == item.GenreId).First().Name;

                        <table>

                            @author
                            @genre
                            @item.Pages

                            @Html.ActionLink("Редактировать", "Edit", "Book", new { id = @item.Id }, null)
                            @Html.ActionLink("Удалить", "Delete", "Book", new { id = @item.Id }, null)

                        </table>

                        }
                </table>

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }*@
