@model ExamAsp.Models.RatingModel

@{
    ViewBag.Title = "Index";
    List<ExamAsp.Models.BookModel> books = ViewBag.Books;
}

<div class="btn_create">
    @Html.ActionLink("Создать", "Edit")
</div>

<table class="table">
    <thead>
        <tr>

            <th scope="col">Рейтинг</th>
            <th scope="col">Книга</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in ViewBag.Ratings)
            {
                string book = books.Where(x => x.Id == item.BookId).First().Title;
        <tr>
            <th scope="row">@item.Votes</th>
            <th scope="row">@book</th>

            <td scope="row">@Html.ActionLink("Редактировать", "Edit", "Genre", new { id = @item.Id }, null)</td>
            <td scope="row">@Html.ActionLink("Удалить", "Delete", "Genre", new { id = @item.Id }, null)</td>
        </tr>
        }
    </table>